<h3>Update Vehicle Fleet</h3>
<button class="return" (click)="goToFleet()" mat-flat-button color="primary" type="submit">
  Return To List
</button>
<form (ngSubmit)="onSubmit()">
  <div class="form">
    <mat-form-field>
      <mat-label>Fleet Name</mat-label>
      <input placeholder="Name" matInput required type="text" id="name" [(ngModel)]="fleetConfig.name" name="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Companies</mat-label>
      <mat-select (selectionChange)="filteredVehicles($event)" [compareWith]="compareFn"
        [(ngModel)]="fleetConfig.company" name="companyName">
        <mat-option *ngFor="let company of companyList" [value]="company">
          {{ company.companyName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Vehicles</mat-label>
      <mat-select [compareWith]="compareFn" [(ngModel)]="fleetConfig.vehicles" name="vehicleName" multiple>
        <mat-option *ngFor="let vehicle of vehicleList" [value]="vehicle">
          {{ vehicle.vehicleName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button (ngSubmit)="onSubmit()" mat-flat-button color="success" type="submit">
      Submit
    </button>
  </div>
</form>
